<div class="container-fluid" >
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h1 class="text-center">Login</h1>
			<div>
				<%= flash[:error] %> 
			</div>
			<%= form_for :login do |f| %>
		    <div class = "form-group">
		        <%= f.label :email, class: "control-lablel" %>
		        <%= f.text_field :email, class: "form-control" %>
		    </div>

		    <div class = "form-group">
		        <%= f.label :password, class: "control-label" %>
		        <%= f.password_field :password, class: "form-control" %>
		    </div>
		    <%= f.submit "Log in now!", :class => "btn btn-primary col-md-4"%>
			<% end %>
		</div>
	</div>
</div>


