<h1>Edit this User</h1>

<%= form_for @user do |f| %>
	First Name: <%= f.text_field :name %>


	<%= f.submit "Submit these changes!" %>

<% end %></br>

<%= link_to "Back to the Users!", users_path %><br>
<%= link_to 'back to home page', root_path %>
