<h1>My Reports index page</h1>


<%= @reports.each do |report| %> 
	<%= "#{report.name}" %><br>
	<%= "#{report.location}" %><br>
	<%= "#{report.body}" %>
	<%= link_to "Show Report", report %>
<% end %>



<%= link_to "back to user index", users_path %>