<!DOCTYPE html>
<html>
<head>
  <title>CrimeWatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='container-fluid' id="appmain">
		<div class='container'>
			<%= render 'shared/navigation' %>
			<%= yield %>
		</div>
	</div>
	</body>
</html>
